@model Instagram_DB.Models.Story
@{
    var storyLikes = ViewBag.StoryLikes as List<Instagram_DB.Models.StoryLike>;
    var storyViewers = ViewBag.StoryViewers as List<Instagram_DB.Models.User>;
}

<h2>Story Details</h2>
<div>
    <img src="@Model.Image" width="200" />
    <p><strong>Caption:</strong> @Model.Caption</p>
    <p><strong>Posted by:</strong> @Model.PosterNavigation?.Username</p>
    <p><strong>Timestamp:</strong> @Model.Timestamp</p>
    <form asp-action="LikeStory" method="post" class="mb-3">
        <input type="hidden" name="id" value="@Model.StoryId" />
        <input type="number" name="likerId" placeholder="Your UserID" required />
        <button type="submit" class="btn btn-primary">Like Story</button>
    </form>
</div>

<div class="row mt-4">

</div>
